

<h1>Yo world, it's EJS.</h1>

<p>I am Me.</p>
<p>Look at some facts about Me:</p>
<li>My name is not actually Me, it's <%= myView[0].userName %> </li>
<li>I am a <%= myTypeClient %>. Yes I pay attention to details, sometimes too much...</li>
<li>The best show ever is <%= myView[0].tvShows %></li>

<footer> This came from my MongoDB!
    <a href="/send">send it</a> or 
    <a href="https://github.com/sladeberryman/papa-486" target="_blank"> Source Code</a>
</footer>