<h1>Yo it's EJS.</h1>
<h2>My name is Slade Berryman</h2>
<p>Check this out: <%= myTypeClient %>.</p>
<footer>
    <p>This was sent from a file on my node server...</p>
    <a href="/send">send</a><br>
    <a href="https://github.com/sladeberryman/papa-486" target="_blank">See the Source Code</a>
</footer>